<section class='section'>
  
  <div class='row'>
    <div class='col-md-5'>
      <%= image_tag('eczema_skin.jpg', class:'img-box img-thumbnail',alt:'Baby With Eczema')%>
    </div>
    <div class='col-md-7'>
      
      <div class='info-box-primary'>
        
        <h2 class='center'>
          What you need to know about Eczema
        </h2>

        <p>
          Eczema is an inflammatory skin condition that leads to areas of your skin becoming dry, red, rough and blistered. The cause of eczema is not known exactly but in many cases, but research suggets that it is usually caused by genetics. 
        </p> 
        
         <h4>
        There are three main types of eczema
      </h4>
      <ul>
        <li>
          <b>Atopic eczema</b> - causes areas of the skin to become dry, itchy, cracked, sore and red and can develop all over the body
        </li>
        <li>
          <b>Contact eczema</b> - is more localised. There might be redness and an itching and burning sensation where the skin has come into contact with an allergen or an irritant
        </li>
        <li>
          <b>Seborrhoeic eczema</b> - isn’t always itchy but it looks like scaly patches on the skin, usually on the scalp and face
        </li>
      </ul>
      </div>
      
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <h3>
        Top 5 things to avoid if you have eczema
      </h3>
      <h4>
        1. Wearing wool sweaters
      </h4>
      <p>
       Any kind of abrasive texture, like wool or certain synthetic fibers, might irritate your skin, says Dr. High. A better wardrobe choice: soft, cotton clothing in a looser cut, which won’t rub against your skin. You should also wash any new clothing you buy before wearing them—some contain dyes that make the fabric appear nicer in the store, but may trigger a flare-up on your skin.
      </p>
      
      <h4>
       2. Using scented detergents
      </h4>
      <p>
       Scented laundry detergents and some dryer sheets can also bother your skin. Choose products that are free of fragrances and dyes; liquid ones tend to leave less irritating residues behind compared to powder versions. 
      </p>
      <h4>
        3. Using scented soaps
      </h4>
      <p>
       Similar to scented laundry detergents, scented hand soaps, bubble baths, body washes, and lotions can all cause your skin to feel dry and itchy. 
      </p>
      <h4>
        4. Eating trigger foods
      </h4>
      <p>
       Although the majority of eczema flare-ups aren’t caused by a person’s diet, there may be occasional cases where atopic dermatitis is exacerbated by food or drinks. To pinpoint what might be triggering your flare, try keeping track of your daily routine (including meals) in a journal. By looking back at your past entries, you might be able to identify the culprits. For example, if you and your doctor think that milk is causing a flare, you might want to eliminate it from your diet while working with a nutritionist to help shore up your intake with other calcium-rich foods.
      </p>
      <h4>
        5. Get too hot or cold
      </h4>
      <p>
       During the warmer months, the high temperatures (or, the sensation of heat, says Dr. High) can sometimes bother people’s skin. Not only that, but sweating can cause irritation, too. Likewise, the cold, dry weather in winter can also trigger itchiness.
      </p>
      <p>
        in fact the more you scratch, the more your skin will be triggered to itch.
      </p>
    </div>
  </div>
  
  <div class='row'>
    <div class='col-md-4'>
      <%= image_tag('scratch-dry-skin.jpg', class:'img-box', alt:'scratching skin')%>
    </div>
    <div class='col-md-8'>
      <h3>
        The Problem With Scratching Your Skin
      </h3>
      <p>
        If you have eczema, your skin might be dry, red and itchy. Scratching your skin can damage it even further and it won’t stop the itch. 
      </p>
      <p>
        in fact the more you scratch, the more your skin will be triggered to itch.
      </p>
    </div>
    
  </div>
  
  
  <div class='row'>
    <div class='col-md-4 center'>
      <%= link_to(products_path) do%>
        <%= image_tag('nucifera500x500.jpg', class:'img-circle ibi-1', alt:'nucifera')%>
      <% end %>
    </div>
    <div class='col-md-8'>
      <h3>
        How to treat Eczema with Nucifera
      </h3>

      <p>
        Using an emollient like Nucifera<sup>®</sup> that uses a combination of coconut oil and beeswax to repair, nourish and protect your skin.
      </p>

      <p>
        Nucifera is also clinically tested and backed by health care professionals who have spent years to make sure the product works for most people
      </p>

      <p>
        Nucifera has the purest form of organic coconut oil in it. The coconut oil in Nucifera penetrates the skin and provides rich moisture that nourishes the skin and reduces the itchyness, pain, flakiness, and dryness of eczema. It also has antioxidants that removes wrinkles and prevents premature aging. 
      </p>

      <p>
        The beeswax in nucifera greatly softens your skin and creates a long-lasting protective coating against the elements and contaminants that would normally aggravate your Eczema prone skin.
      </p>
      <div class='center'>
        <%= link_to('Buy Now', products_path, class:'btn btn-lg btn-primary', role:'button') %>
      </div>
    </div>
    
  </div>
  
  <div class='info-box-primary'> 
        <h2> 
          Bonus tips
        </h2>
        <p>
          Eczema Can also be aggravated (made worse) by irritants like soaps and detergents, or environmental allergens like heat, dust, wool, or pets, or even the weather.
        </p>
        <h2>
          Fun Fact
        </h2>
        <p>
          You can develop eczema at any age but it is more common in children. Eczema affects one in five children, and one in twelve adults. Eczema is not contagious, so you can not catch it or spread it to someone else. 
        </p>
      </div>
</section>