<section class='section'>
  
  <div class='row'>
    <div class='col-md-5'>
      <%= image_tag('Baby_with_Eczema.jpg', class:'img-box img-thumbnail',alt:'Baby With Eczema')%>
    </div>
    <div class='col-md-7'>
      <div class='info-box-primary'>
      <h2 class='center'>
        Eczema
      </h2>
      <p>
        Eczema is an inflammatory skin condition that leads to areas of your skin becoming dry, red, rough and blistered. The cause of eczema is not known exactly but in many cases, it is caused by genetics. 
      </p> 
      <p>
        This means that eczema can run in your family and that you might be more likely to naturally develop the condition if someone in your family has eczema. 
      </p>
    </div>
    <div class='info-box-primary'> 
      <p>
        Eczema Can also be aggravated (made worse) by irritants like soaps and detergents, or environmental allergens like heat, dust, wool, or pets, or even the weather.
      </p>
      
      <p>
        You can develop eczema at any age but it is more common in children. Eczema affects one in five children, and one in twelve adults. Eczema is not contagious, so you can not catch it or spread it to someone else. 
      </p>
      </div>
    </div>
  </div>
  <div class='row info-box'>
    <h4>
        There are three main types of eczema
      </h4>
      <ul>
        <li>
          <b>Atopic eczema</b> - causes areas of the skin to become dry, itchy, cracked, sore and red and can develop all over the body
        </li>
        <li>
          <b>Contact eczema</b> - is more localised. There might be redness and an itching and burning sensation where the skin has come into contact with an allergen or an irritant
        </li>
        <li>
          <b>Seborrhoeic eczema</b> - isn’t always itchy but it looks like scaly patches on the skin, usually on the scalp and face
        </li>
      </ul>
  </div>
  <div class='row'>
    
    
    <div class='col-md-6'>
    <h3>
      Healthy skin Vs Eczema Skin
    </h3>
    <p>
      The difference between healthy skin and eczema can be shown in the ‘brick wall’ model of the skin. In the diagram, skin cells are described as 'bricks' which are held together by rods (binders called corneodesmo-somes) and mortar or concrete  (lipids, which are fats). 
    </p>
    <p>
      People with eczema have a skin barrier that is partially damaged.
      When you have eczema, irritants (like dust mites, soaps, detergents, heat, and wool) can enter the damaged skin and cause an allergic reaction making the skin even more irritated, so it may appear red, inflamed or itchy. <b>(Scratching your skin only makes things worse)</b>
    </p>
    
    </div>
    <div class='col-md-6 center img-box center'>
      <%= image_tag('Eczema_Skin_Barrier_Diagram.png', class:'img-box', alt:'eczema skin diagram')%>
    </div>
    
    
  </div>
  
  <div class='row'>
    <div class='col-md-4'>
      <%= image_tag('scratch-dry-skin.jpg', class:'img-box', alt:'scratching skin')%>
    </div>
    <div class='col-md-8'>
      <h3>
        The Problem With Scratching Your Skin
      </h3>
      <p>
        If you have eczema, your skin might be dry, red and itchy. Scratching your skin can damage it even further and it won’t stop the itch. 
      </p>
      <p>
        in fact the more you scratch, the more your skin will be triggered to itch.
      </p>
    </div>
    
  </div>
  
  
  <div class='row'>
    <div class='col-md-4 center'>
      <%= link_to(products_path) do%>
        <%= image_tag('nucifera500x500.jpg', class:'img-circle ibi-1', alt:'nucifera')%>
      <% end %>
    </div>
    <div class='col-md-8'>
    <h3>
      How to treat Eczema
    </h3>
    
    <p>
      Using an emollient like Nucifera<sup>®</sup> that uses a combination of coconut oil and beeswax to repair, nourish and protect your skin, can help you get rid of the symptoms caused by eczema such as dry, red, rough, blistered, and itchy skin.
    </p>
    <p>
      Unlike regular moisturisers, which temporarily improve the look and feel of skin, the coconut oil in Nucifera penetrates the skin and provides rich moisture that nourishes the skin, it also has antioxidants that removes wrinkles and prevents premature aging. <br>
      
      The beeswax in nucifera greatly softens your skin and creates a long-lasting protective coating against the elements and contaminants that would normally aggravate your Eczema prone skin.
    </p>
    </div>
    
  </div>
</section>