<section class='section'>
  <div class='row'>

      <div class='col-md-7'>
        <div class='info-box-primary'>
          <h2 class='center'>
            Itchy Skin
          </h2>
          <p>
            Itchy skin is an uncomfortable, irritating sensation that makes you want to scratch your skin. 
          </p> 
          <p>
            Itchy skin is usually caused by dry skin. If you're older, you're more likely to get itchy skin because the skin tends to become drier with age.
          </p>
          <p>
            Eczema can also cause itchy skin <%= link_to('click here', skin_care_eczema_path)%> to find out how.
          </p>
          <p>
            Itchy skin can also be caused by allergic skin reactions to pollen, dust, Wool, chemicals, soaps, or even food alergies
          </p>
          
          <p>
            See a GP or pharmacist if your itchy skin is caused by Pregnancy, Internal Diseases, Nervous disorders, or Drugs
          </p>
          
          
          
          <h3>
            Symptoms
          </h3>
          <p>
            You can get Itchy skin without any noticeable changes on the skin. But in some cases, you may see...
          </p>
          <ul>
            <li>
               Redness
            </li>
            <li>
               Bumps
            </li>
            <li>
               spots or blisters
            </li>
            <li>
               Dry, cracked skin
            </li>
            <li>
               Leathery or scaly texture to the skin
            </li>
          </ul>
          <p>
           Try your best not to scratch the skin because if you scratch your skin too much, it can cause further damage to the skin and can even lead to infection in some cases.
          </p>
        </div>
        
     </div>  

      <div class='col-md-5'>
        <%= image_tag('itchy-skin-2.jpg', class:'img-box img-thumbnail', alt:'Baby With Eczema')%>
      </div>
  </div>
    <div class='info-box-primary'>
          <div class='row center'>
            
            <div class='col-md-3 col-sm-3'>
              <%= link_to(products_path) do%>
                <%= image_tag('nucifera500x500.jpg', class:'img-circle ibi-1', alt:'nucifera')%>
              <% end %>
            </div>
            
            <div class='col-md-9 col-sm-9'>
              <h2 class='center'>
                How to treat Itchy Skin
              </h2>
              <p>
                Unlike regular moisturisers, which temporarily stop your skin from being itchy, Nucifera has coconut oil that penetrates the skin and provides rich moisture that nourishes the skin which organically stops the skin from being itchy. 
              </p>

              <p>
                 Nucifera also has antioxidants that removes wrinkles and prevents premature aging. 
              </p>
              
              <%= link_to('Buy Now', products_path, class:'btn btn-lg btn-primary', role:'button') %>
            </div>
            
          </div>
       </div>

</section>