<div class='container bg-white'>
 
   <div class="row info-box-container">
      <div class="col-md-4 ibi-container">
        <%= link_to(products_path) do%>
        <%= image_tag('nucifera500x500.jpg', class:'img-circle ibi-1', alt:'nucifera')%>
        <% end %>
      </div>
      <div class="col-md-8 info-box">
        <h2 class='center'>Nucifera<sup>®</sup></h2>
        <p class='center'>
          nucifera is a natural emollient that nourishes, repairs and protects your skin. It uses a precise combination of 2 ingredients. Centrifuged Organic Coconut Oil from Sri Lanka which is the purest and highest quality of coconut oil in the world, and beeswax. 
        </p>
        <h3 class='center'> 
          <em>How It works</em> 
        </h3>
        <div class='row sm-center xs-center'>
          <div class='col-md-3 col-xs-12 lg-right md-right'>
            <%= image_tag('coconut.jpg', class:'img-circle', alt:'coconut', size:'100')%>
          </div>
          <p class='col-md-9 col-xs-12'>
            Coconut oil is an excellent massage oil for the skin as well. It acts as as effective moisturizer on all types of skin,
            including dry skin. The benefit of coconut oil on the skin is comparable to that of mineral oil. Fortunately, unlike mineral
            oil, there is no chance of having any adverse side effects on the skin from the application of coconut oil. Coconut oil is a
            safe solution for preventing dryness and flaking of skin. It also delays the apperance of wrinkles and sagging of skin
            which narmally accompany aging. Coconut oil also helps in preventing premature aging and degenerative disease due to its well-known antioxident properties.
          </p>
          
             
        </div>
        <div class='row sm-center xs-center'>
          <div class='col-md-3 col-xs-12 lg-right md-right '>
            <%= image_tag('beeswax.jpg', class:'img-circle img-right', alt:'beeswax', size:'100')%>
          </div>
          <p class='col-md-9 col-xs-12'>
          The Beeswax softens your skin and creates a long-lasting protective coating on your skin which locks the pure organic coconut oil into your skin and protects your skin from the environment
          </p>
        </div>
        <p class='center'>
          <%= link_to('Buy Now', products_path, class:'btn btn-primary right', role:'button')%>
        </p>
      </div>
    </div>
  <h1 class='center'>
    How to use
  </h1>
  <div class='center'>
    <%= image_tag 'how-to-use.jpg', alt:'How to use nucifera' %>
    <%= image_tag 'how-to-store.jpg', alt:'How to store nucifera' %>
    <%= image_tag 'how-to-caution.jpg', alt:'caution when using nucifera' %>
    <p>
      We recommend using Nucifera at least 1 or 2 times a day to keep your skin nourished and moisturized.
    </p>
  </div>
  <h1 class='center'>
    The Science Behind Nucifera
  </h1>
  <div class='row'>
    <div class='col-xs-6 right'>
      Nucifera works based on 2 Main Ingredients
    </div>
    <div class='col-xs-6'>
      <strong>
        Coconut Oil
      </strong>
      <br>
      <strong>
        Beeswax
      </strong>
    </div>
  </div>
  <div class='row'>
    <div class='center'>
      <h2>
        Coconut Oil
      </h2>
      <%= image_tag 'CO.png', alt:'beeswax', style:'max-width:720px;width:100%;min-width:500px;' %>
    </div>
    
    <p>
      Coconut oil is highly lipophilic, containing medium chain fatty acids like Lauric acid and Caprylic acid with long carbon chains. This long chain enables better penetration through the top, hydrophobic, layer of the skin to provide the moisturising effect through high absorption. The acids discussed above convert themselves into great antimicrobial and anti-fungal agents like monocaprin and monolaurin when acted upon by certain enzymes. These derivatives protect our body, both internally and externally, from conditions like Athlete’s Foot, rashes, itches, ringworm, and dermatitis.
    </p>
    
    <p>
      The long chain ensures there is less likelihood for reaction with moisture or air to preserve the pure form of coconut oil. Using the purest form via centrifugation, our manufacturing process ensures we eliminate as many impurities to provide you confidence that you can experience optimum effects of coconut oil.
    </p>
  </div>
  
  <div class='row'>
    <div class='center'>
      <h2>
        Beeswax
      </h2>
      <%= image_tag 'BW.png', alt:'beeswax', style:'max-width:720px;width:100%;min-width:500px;' %>
    </div>
    <p>
      Beeswax has much longer carbon chains than coconut oil, which makes it the perfect complement for coconut oil in terms of its properties. The long chain works mutually with the coconut oil for optimum absorption on the skin. The occlusive properties of beeswax provide a moisturising layer on the skin to keep your skin feeling fresh.
    </p>
    
    <p>
      The structure also includes oleate ester groups and can be up to 30-32 carbon chains in length, which potentially helps provide some of the observed anti-microbial properties.
    </p>
  </div>
  
  <div class='center'>
    <h1>
      How effective is nucifera
    </h1>
    <%= image_tag 'Clinical_study_page_with_Heading.png', alt:'Nucifera Clinical Study', style:'max-width:720px;width:100%;min-width:500px;' %>
  </div>
  
  <div class='row'>
    <div class='col-md-4 center'>
      <%= link_to(products_path) do%>
        <%= image_tag('nucifera500x500.jpg', class:'img-circle ibi-1', alt:'nucifera')%>
      <% end %>
    </div>
    <div class='col-md-8'>
      <h3>
        Nucifera
      </h3>

      <p>
        Using an emollient like Nucifera<sup>®</sup> that uses a combination of coconut oil and beeswax to repair, nourish and protect your skin.
      </p>

      <p>
        Nucifera is also clinically tested and backed by health care professionals who have spent years to make sure the product works for most people
      </p>

      <p>
        Nucifera has the purest form of organic coconut oil in it. The coconut oil in Nucifera penetrates the skin and provides rich moisture that nourishes the skin. It also has antioxidants that removes wrinkles and prevents premature aging. 
      </p>

      <p>
        The beeswax in nucifera greatly softens your skin and creates a long-lasting protective coating against the elements and contaminants in the environment.
      </p>
      <div class='center'>
        <%= link_to('Buy Now', products_path, class:'btn btn-lg btn-primary', role:'button') %>
      </div>
    </div>
    
  </div>
</div>

