<footer class="footer fixed-bottom">
  <div class='container'>
    <li>
      <%= link_to "Nucifera ©", root_path, class: "footer-brand" %> |
      <%= link_to "Privacy Policy", legal_privacy_policy_path, class: "footer-brand" %> |
      <%= link_to "Terms and Conditions", legal_terms_path, class: "footer-brand" %> |
      <%= link_to "Contact", contact_path, class: "footer-brand" %> |
      <%= link_to "About", contact_path, class: "footer-brand" %> 
    </li>    
        
    

    <%= render 'layouts/social_media_icons' %>
  </div>
</footer>