  <header>
    <div class='container'>
      <div class='row top-header'>
        <div class='col-md-12'>
          <span>
            Your Online Resource For Natural Skin Therapy
          </span>
          <span class='social'>
            Follow us
          </span>
          <div class='social'>
            <%= render 'layouts/social_media_icons' %>
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='row'>
        <div class='col-md-5'>
          <%= link_to (root_path), class: 'brand-image' do %>
            <%= image_tag('logo.png', size: "150x60", style:'margin-top:0px;') %>
          <% end %>
        </div>
        <div class='col-md-7'>
          <div class='mailing-box pull-right'>
            Mailing list
          </div>
        </div>
        
      </div>
    <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">SKIN CARE
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="<%=active?(skin_care_eczema_path)%>"><%= link_to "ECZEMA", skin_care_eczema_path %></li>
                  <li class="<%=active?(skin_care_itchy_skin_path)%>"><%= link_to "ITCHY SKIN", skin_care_itchy_skin_path %></li>
                  <li class="<%=active?(skin_care_dry_skin_path)%>"><%= link_to "DRY SKIN", skin_care_dry_skin_path %></li>
                  <li class="<%=active?(skin_care_bruises_path)%>"><%= link_to "BRUISES", skin_care_bruises_path %></li>
                  <li class="<%=active?(skin_care_cradle_cap_path)%>"><%= link_to "CRADLE CAP", skin_care_cradle_cap_path %></li>
                </ul>
              </li>
              <li class="<%=active?(products_path)%>"><%= link_to "PRODUCTS", products_path %></li>
              <li class="<%=active?(contact_path)%>"><%= link_to "CONTACT", contact_path %></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">ABOUT
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li class="<%=active?(about_path)%>"><%= link_to "ABOUT", about_path %></li>
                  <li class="<%=active?(about_nucifera_path)%>"><%= link_to "NUCIFERA", about_nucifera_path %></li>
                </ul>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
              <li class="active"><%= link_to "Account", edit_user_registration_path %></li>
              <li><%= link_to "LogOut", destroy_user_session_path, method: :delete %></li>
              <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
    </div>

    
  </header>